
name: Deploy StorageApp Backend
on: [push, workflow_dispatch]
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Fetch from Github
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install Dependencies
        run: npm ci

      - name: Build app
        run: zip -r lambda.zip .

      - name: Cofigure AWS Crednetials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Update Lambda Function
        run:  aws lambda update-function-code --function-name storageApp --zip-file fileb://lambda.zip
